html {
	height: 100%;
}
body {
	width: 100%;
	min-height: 100%;
	display: table;
	background: #fff;
}
.cardList {
	width: 400px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.card,
.inner,
.card .face,
.card .back {
	width: 80px;
	height: 120px;
	border-radius: 3px;
}
.card {
	margin: 3px;
	display: inline-block;
	perspective: 800px;
	-webkit-perspective: 800px;
}
.inner {
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.card .face,
.card .back {
	vertical-align: middle;
	text-align: center;
	background: #fff;
}
.card .face {
	box-sizing: border-box;
	display: none;
	border: 1px solid #ccc;
	background: #fff;
}
.card .face img {

}
.card .back {
	display: table-cell;
	background: url(http://jsrun.it/assets/2/n/8/2/2n82P.png);
}
.card.reverse .face {
	display: table-cell;
}
.card.reverse .back {
	display: none;
}


.player_container{
	width: 100%;
	height: 200px;
	display: flex;
}

.player_container_magic{
	width: 100%;
	height: 256px;
	display: flex;
}

.player_container .player{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.player_container .space{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.player_box_container{
	width: 100%;
	height: 600px;
	display: flex;
}

.player_box_container .player_box{
	margin: 10px;
	border: solid;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.player_box_container .space_box{
	padding: 10px;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}


.bank{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bank img{
	width: 64px;
	height: 64px;
}
.joker img{
	width: 64px;
	height: 64px;
}

.pattern{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pattern img{
	width: 256px;
	height: 256px;
}

.patterncard {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset_btn{
	width: 100%;
	height: 80px;
}

.reset_btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.piece{
	height: 64px;
	width: 192px;
	border: solid;
	border-width: thin;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255, 255, 0.5);
	border: rgba(255, 0, 0, 1);
	cursor: move;
}
.piece2{
	height: 192px;
	width: 64px;
	border: solid;
	border-width: thin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255,255, 255, 0.5);
	border: rgba(255, 0, 0, 1);
	cursor: move;
}

.piece2_wrap{
	display: none;
}


.choice_box{
	height: 64px;
	width: 64px;
	border: solid;
	border-width: thin;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choice_box_center{
	height: 64px;
	width: 64px;
	border-top:  solid;
	border-bottom: solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box_img{
	height: 56px;
	width: 56px;
}

.magic_img{
	height: 80px;
	width: 80px
}


.piece_wrap{
	width: 33.33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}


.magic_wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
}


.piecezone{
	height: 100px;
	width: 300px;
	display: flex;
}

.magic_square{
	height: 302px;
	width: 302px;
	border: solid;
	border-width: thin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ans_magic_square{
	padding: 0;
	margin-top: 64px;
	height: 602px;
	width: 602px;
	border: solid;
	border-width: thin;
	display: flex;
 flex-wrap: wrap;
}

.ans_magic_square_wrap{
	display: none;
}


.magic_box{
	margin: 0;
	padding: 0;
	height: 100px;
	width: 100px;
	border: solid;
	display: flex;
	border-width: thin;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ans_magic_box{
	margin: 0;
	padding: 0;
	height: 200px;
	width: 200px;
	border: solid;
	display: flex;
	border-width: thin;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.btn-magic{
	margin: 10px;
	height: 48px;
	width: 180px;
}

.magic_square2{
	height: 302px;
	width: 302px;
	border: solid;
	border-width: thin;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.magic_square2_wrap{
	display: none;
}



.piecezone_2{
	margin: 0 ;
	height: 300px;
	width: 100px;
	display: flex;
	flex-direction: column;
}
