
{% extends "layout.html" %}
{% block body %}

<div class="player_container_magic">
  <div class="hide_wrap">
  <div class="piece_wrapq" draggable="false">
    <div class="piece1_wrap" draggable="false">
      <div class="piece" id="pieceq" draggable="true">
        <div class="choice_boxq q-back1">
        </div>
        <div class="choice_boxq q-back2">
        </div>
        <div class="choice_boxq q-back3">
        </div>
      </div>
    </div>

    <div class="piece2_wrap" draggable="false">
      <div class="piece2" id="pieceq2" draggable="true">
        <div class="choice_boxq q-back1">
        </div>
        <div class="choice_boxq q-back2">
        </div>
        <div class="choice_boxq q-back3">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="piece_wrap">
    <div class="piece1_wrap">
      <div class="piece" id="piece1" draggable="true" id="choice1">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>

    <div class="piece2_wrap">
      <div class="piece2" id="piece2_1" draggable="true" id="choice1">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>

  </div>



  <div class="piece_wrap">
    <div class="piece1_wrap">
      <div class="piece" id="piece2" draggable="true">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>

    <div class="piece2_wrap">
      <div class="piece2" id="piece2_2" draggable="true">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>
  </div>

  <div class="piece_wrap">
    <div class="piece1_wrap">
      <div class="piece" id="piece3" draggable="true">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>

    <div class="piece2_wrap">
      <div class="piece2" id="piece2_3" draggable="true">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>
  </div>

  <div class="piece_wrap">
    <div class="piece1_wrap">
      <div class="piece" id="piece4" draggable="true">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/moon.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>

    <div class="piece2_wrap">
      <div class="piece2" id="piece2_4" draggable="true">
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
        <div class="choice_box">
          <img src="{{ url_for('static', filename='picture/sun.png') }}" alt="" class="box_img" draggable="false">
        </div>
      </div>
    </div>
  </div>



</div>

<div class="player_box_container">



  <div class="magic_wrap">
    <a class="btn btn-primary btn-ent ent-btn" id="entangle_btn"role="button" href="#">エンタングル</a>

    <div class="choicearrow">
      <img src="{{ url_for('static', filename='picture/down_arrow_64px.png') }}" alt="" class="box_img" draggable="false">
    </div>


    <div class="magic_square2_wrap">
      <div class="magic_square2">
        <div class="piecezone_2" id="piecezone1_2">
          <div class="magic_box col1 conbox_2"></div>
          <div class="magic_box col2 conbox_2"></div>
          <div class="magic_box col3 conbox_2"></div>
        </div>
        <div class="piecezone_2" id="piecezone2_2">
          <div class="magic_box col1 conbox_2"></div>
          <div class="magic_box col2 conbox_2"></div>
          <div class="magic_box col3 conbox_2"></div>
        </div>
        <div class="piecezone_2" id="piecezone3_2">
          <div class="magic_box col1 conbox_2"></div>
          <div class="magic_box col2 conbox_2"></div>
          <div class="magic_box col3 conbox_2"></div>
        </div>
      </div>
    </div>

  <div class="magic_square_wrap">
    <div class="magic_square">
      <div class="piecezone" id="piecezone1">
        <div class="magic_box row1 conbox"></div>
        <div class="magic_box row2 conbox"></div>
        <div class="magic_box row3 conbox"></div>
      </div>
      <div class="piecezone" id="piecezone2">
        <div class="magic_box row1 conbox"></div>
        <div class="magic_box row2 conbox"></div>
        <div class="magic_box row3 conbox"></div>
      </div>
      <div class="piecezone" id="piecezone3">
        <div class="magic_box row1 conbox" ></div>
        <div class="magic_box row2 conbox"></div>
        <div class="magic_box row3 conbox"></div>
      </div>
    </div>
  </div>


    <div class="ans_magic_square_wrap">
      <div class="result_text">
        <!-- <p class="result_string"></p> -->
        <img src="{{ url_for('static', filename='picture/app_logo_lose.png') }}" alt="" class="lose_img"></img>
        <img src="{{ url_for('static', filename='picture/app_logo_win.png') }}" alt="" class="win_img"></img>

      </div>
      <div class="ans_magic_square">
          <div class="ans_magic_box conbox" id="cell1"></div>
          <div class="ans_magic_box conbox" id="cell2"></div>
          <div class="ans_magic_box conbox" id="cell3"></div>
          <div class="ans_magic_box conbox" id="cell4"></div>
          <div class="ans_magic_box conbox" id="cell5"></div>
          <div class="ans_magic_box conbox" id="cell6"></div>
          <div class="ans_magic_box conbox" id="cell7"></div>
          <div class="ans_magic_box conbox" id="cell8"></div>
          <div class="ans_magic_box conbox" id="cell9"></div>
      </div>
    </div>





    <a class="btn btn-primary btn-magic" id="magic-next"role="button" href="#">次へ</a>
    <a class="btn btn-primary btn-magic" role="button" href="http://127.0.0.1:5000/mahojin">リセット</a>


    </div>
  </div>


</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/draggable.bundle.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='card.js') }}"></script>

<script>
var rowvalue = 0;
var piecevalue = 0;
var rowfilled = false;
var entangle = false;

var colvalue = 0;
var piece2value = 0;
var colfilled = false;

var rowvectror = [];
var colvectror = [];
var entangle_mat = ({{result}})

// ピースの関数
$('#piece1').on('dragstart', onDragStart);
$('#piece2').on('dragstart', onDragStart);
$('#piece3').on('dragstart', onDragStart);
$('#piece4').on('dragstart', onDragStart);
$('#pieceq').on('dragstart', onDragStart);
$('#pieceqq').on('dragstart', onDragStart);



$('#piece2_1').on('dragstart', onDragStart);
$('#piece2_2').on('dragstart', onDragStart);
$('#piece2_3').on('dragstart', onDragStart);
$('#piece2_4').on('dragstart', onDragStart);



// 受け取り側の関数
$('#piecezone1').on('dragover', onDragOver);
$('#piecezone1').on('dragleave', offDragOver);
$('#piecezone1').on('drop', onDrop);
$('#piecezone2').on('dragover', onDragOver);
$('#piecezone2').on('dragleave', offDragOver);
$('#piecezone2').on('drop', onDrop);
$('#piecezone3').on('dragover', onDragOver);
$('#piecezone3').on('dragleave', offDragOver);
$('#piecezone3').on('drop', onDrop);

$('#piecezone1_2').on('dragover', onDragOver);
$('#piecezone1_2').on('dragleave', offDragOver);
$('#piecezone1_2').on('drop', onDrop2);
$('#piecezone2_2').on('dragover', onDragOver);
$('#piecezone2_2').on('dragleave', offDragOver);
$('#piecezone2_2').on('drop', onDrop2);
$('#piecezone3_2').on('dragover', onDragOver);
$('#piecezone3_2').on('dragleave', offDragOver);
$('#piecezone3_2').on('drop', onDrop2);

$('#magic-next').on('click', clickNext);
$('#entangle_btn').on('click', entangle_btn);



function entangle_btn(e){
  if(entangle == false){
    $.when(
      ent1()
    )
    .done(function() {
      $('.piece_wrap').hide();
      console.log("fuga");
      $('.hide_wrap').show();
      entangle = true
      $("#entangle_btn").hide();
      });
  }
}


function ent1(){
  var dfd = $.Deferred();
  $('.piece_wrap').animate({
    width:"10px",
    marginLeft:"200px",
    opacity : 0
  } ,'slow');
  setTimeout(function(){
        dfd.resolve();
    }, 500);
  return dfd.promise();

}

function ent2(){
  // $('.piece_wrap').hide();
}


function onDragStart(e) {
  e.originalEvent.dataTransfer.setData('text', this.id);
}

function onDragOver(e) {
  e.preventDefault();
  $(this).css('background','rgba(0,0,0,0.5)');
  // this.textContent = 'onDragOver';
}
function offDragOver(e) {
  e.preventDefault();
  $(this).css('background','rgba(255,255,255,1)');
  // this.textContent = 'offDragOver';
}

function piecenumber(str){
  if("piecezone1" == str || "piecezone1_2"==str){
    return 1;
  }else if("piecezone2" == str || "piecezone2_2"==str){
    return 2;
  }else{
    return 3;
  }
}

function onDrop(e) {

  e.preventDefault();
  var type = e.originalEvent.dataTransfer.getData('text');
  console.log("type");

  console.log(type);
  if(type=="piece1"){
    rowlist = [];
    $(".conbox").empty();
    $(this).children('.row1').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row2').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row3').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    rowvalue=this.id;
    piecevalue=1;
    rowvectror = [1, 0,0 ]
    rowfilled = true;

  }else if (type=="piece2") {
    rowlist = [];
    $(".conbox").empty();
    $(this).children('.row1').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row2').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row3').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    rowvalue=this.id;
    piecevalue=2;
    rowvectror = [0,1,0]
    rowfilled = true;
  }else if (type=="piece3"){
    rowlist = [];
    $(".conbox").empty();
    $(this).children('.row1').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row2').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row3').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    rowvalue=this.id;
    piecevalue=3;
    rowvectror = [0,0,1]
    rowfilled = true;
  }else if (type=="piece4"){
    rowlist = [];
    $(".conbox").empty();
    $(this).children('.row1').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row2').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row3').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    rowvalue=this.id;
    piecevalue=4;
    rowvectror = [1,1,1]
    rowfilled = true;
  }else if (entangle==true){
    rowlist = [];
    $(".conbox").empty();
    $(this).children('.row1').append('<img src=\"{{ url_for('static', filename='picture/hatena.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row2').append('<img src=\"{{ url_for('static', filename='picture/hatena.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.row3').append('<img src=\"{{ url_for('static', filename='picture/hatena.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    rowvalue=this.id;
    piecevalue=5;
    rowvectror = [1,1,1]
    rowfilled = true;
  }

  $(this).css('background','rgba(255,255,255,1)');
}

function onDrop2(e) {

  e.preventDefault();
  var type = e.originalEvent.dataTransfer.getData('text',);
  if(type=="piece2_1"){
    collist = [];
    $(".conbox_2").empty();
    $(this).children('.col1').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col2').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col3').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    colvalue =this.id;
    piece2value = 1
    colvectror = [0, 1,1 ]
    colfilled = true


  }else if (type=="piece2_2") {
    collist = [];
    $(".conbox_2").empty();
    $(this).children('.col1').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col2').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col3').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    colvalue =this.id;
    piece2value = 2;
    colvectror = [1, 0,1 ]
    colfilled = true
  }else if (type=="piece2_3"){
    collist = [];
    $(".conbox_2").empty();
    $(this).children('.col1').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col2').append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col3').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    colvalue =this.id;
    piece2value = 3
    colvectror = [1, 1,0 ]
    colfilled = true
  }else if (type=="piece2_4"){
    collist = [];
    $(".conbox_2").empty();
    $(this).children('.col1').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col2').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col3').append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    colvalue =this.id;
    piece2value = 4
    colvectror = [0, 0,0 ]
    colfilled = true
  }else if (entangle==true){
    collist = [];
    $(".conbox_2").empty();
    $(this).children('.col1').append('<img src=\"{{ url_for('static', filename='picture/hatena.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col2').append('<img src=\"{{ url_for('static', filename='picture/hatena.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    $(this).children('.col3').append('<img src=\"{{ url_for('static', filename='picture/hatena.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
    colvalue =this.id;
    piece2value = 5
    colfilled = true
  }


  $(this).css('background','rgba(255,255,255,1)');
}

function clickNext(e) {
  // $(".magic_square").show();
  // $(".magic_square2").hide();
  // $(".piece1_wrap").show();
  // $(".piece2").hide();
  if(rowfilled == true){
    $(".magic_square_wrap").hide();
    $(".magic_square2_wrap").show();
    $(".piece1_wrap").hide();
    $(".piece2_wrap").show();
    rowfilled = false;
  }
  if (colfilled == true) {
    $(".magic_square2_wrap").hide();
    $(".piece2_wrap").hide();
    $(".ans_magic_square_wrap").show();
    $(".player_container_magic").hide();
    $("#magic-next").hide();
    $(".choicearrow").hide();



    var col_bits=[0,0,0,0,0,0,0,0,0]
    var row_bits=[0,0,0,0,0,0,0,0,0]

    if(entangle==true){
      rownum = piecenumber(rowvalue);
      colnum = piecenumber(colvalue);
      a = (rownum-1) * 3 * 2 + (colnum-1)*2
      console.log(a)
      rowvectror = entangle_mat[a]
      colvectror = entangle_mat[a+1]

    }

    //
    if(rowvalue == "piecezone1"){
      start = 0;
      for(var i in rowvectror){
        num =Number(i)+Number(start)+1;
        console.log(num,rowvectror[i]);


        if(rowvectror[i] == 0){
          row_bits[num-1]+=-1

          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }else{
          row_bits[num-1]+=1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }
      }

    }else if(rowvalue == "piecezone2"){
      console.log("2");
      start = 3;
      for(var i in rowvectror){
        num =Number(i)+Number(start)+1;
        console.log(num,rowvectror[i]);


        if(rowvectror[i] == 0){
          row_bits[num-1]+=-1

          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }else{
          row_bits[num-1]+=1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }
      }

    }else if(rowvalue == "piecezone3"){
      console.log("3");
      start = 6;
      for(var i in rowvectror){
        num =Number(i)+Number(start)+1;
        console.log(num,rowvectror[i]);


        if(rowvectror[i] == 0){
          row_bits[num-1]+=-1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }else{
          row_bits[num-1]+=1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }
      }
    }


    if(colvalue == "piecezone1_2"){
      console.log("1");
      start = 0;
      for(var i in colvectror){
        num =Number(i)*3+Number(start)+1;
        console.log(num,colvectror[i]);


        if(colvectror[i] == 0){
          col_bits[num-1]+=-1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }else{
          col_bits[num-1]+=1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }
      }
    }else if(colvalue == "piecezone2_2"){
      start = 1;
      for(var i in colvectror){
        num =Number(i)*3+Number(start)+1;
        console.log(num,colvectror[i]);

        if(colvectror[i] == 0){
          col_bits[num-1]+=-1

          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }else{
          col_bits[num-1]+=1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }
      }
    }else if(colvalue == "piecezone3_2"){
      start = 2;
      for(var i in colvectror){
        num =Number(i)*3+Number(start)+1;
        console.log(num,colvectror[i]);

        if(colvectror[i] == 0){
          col_bits[num-1]+=-1

          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/sun.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }else{
          col_bits[num-1]+=1
          $("#cell"+num).append('<img src=\"{{ url_for('static', filename='picture/moon.png') }}\" class=\'magic_img\' draggable=\'false\'><img>');
        }
      }
    }






    colfilled = false;
    console.log(row_bits);
    console.log(col_bits);

    range = [0,1,2,3,4,5,6,7,8]
    for(var i in range){
      console.log(row_bits[i] + col_bits[i]);
      if((row_bits[i] + col_bits[i]) == 2){
        console.log('win');
        $(".win_img").show();
        break;
      }else if ((row_bits[i] + col_bits[i]) == -2) {
        console.log('win');
        $(".win_img").show();
        break;
      }
      if(i == 8){
        console.log('lose');

        $(".lose_img").show();
        break;
      }
    }
  }


}

</script>

{% endblock %}
