
{% extends "layout.html" %}
{% block body %}
<div class="cardList">

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/9/d/P/N/9dPNH.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/t/n/4/E/tn4Eh.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/q/u/s/e/quseG.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/k/9/x/0/k9x06.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/9/d/P/N/9dPNH.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/t/n/4/E/tn4Eh.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/9/d/P/N/9dPNH.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/t/n/4/E/tn4Eh.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/t/n/4/E/tn4Eh.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/9/d/P/N/9dPNH.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/t/n/4/E/tn4Eh.png" alt=""></div>
<div class="back"></div>
</div>
</div>

<div class="card">
<div class="inner">
<div class="face"><img src="http://jsrun.it/assets/t/n/4/E/tn4Eh.png" alt=""></div>
<div class="back"></div>
</div>
</div>

</div>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='card.js') }}"></script>

{% endblock %}
